SECRET_KEY=
DEBUG=False
ALLOWED_HOSTS=elgainz.com,www.elgainz.com
CSRF_TRUSTED_ORIGINS=https://elgainz.com,https://www.elgainz.com
DB_NAME=gainz2
DB_USER=gainz2
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
