{% regroup session.exercises.all by effective_exercise_type as type_groups %}
{% for type_label in type_groups %}
{% if type_label.grouper == "primary" %}
<section class="exercise-overview-section stack-sm">
    <h3 class="title-sm m-0">Primary</h3>
    <div class="stack-sm exercise-overview-sortable" data-exercise-type="primary">
        {% for we in type_label.list %}
        {% for all_we in session.exercises.all %}
        {% if all_we.pk == we.pk %}
        {% include "workouts/exercise_overview_row.html" with we=we is_routine=is_routine exercise_index=forloop.counter0 %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</section>
{% endif %}
{% endfor %}
{% for type_label in type_groups %}
{% if type_label.grouper == "secondary" %}
<section class="exercise-overview-section stack-sm">
    <h3 class="title-sm m-0">Secondary</h3>
    <div class="stack-sm exercise-overview-sortable" data-exercise-type="secondary">
        {% for we in type_label.list %}
        {% for all_we in session.exercises.all %}
        {% if all_we.pk == we.pk %}
        {% include "workouts/exercise_overview_row.html" with we=we is_routine=is_routine exercise_index=forloop.counter0 %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</section>
{% endif %}
{% endfor %}
{% for type_label in type_groups %}
{% if type_label.grouper == "accessory" %}
<section class="exercise-overview-section stack-sm">
    <h3 class="title-sm m-0">Accessory</h3>
    <div class="stack-sm exercise-overview-sortable" data-exercise-type="accessory">
        {% for we in type_label.list %}
        {% for all_we in session.exercises.all %}
        {% if all_we.pk == we.pk %}
        {% include "workouts/exercise_overview_row.html" with we=we is_routine=is_routine exercise_index=forloop.counter0 %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</section>
{% endif %}
{% endfor %}
{% if not session.exercises.all %}
<p class="text-muted m-0">Add one below to get started.</p>
{% endif %}
