{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% include "shared/import_workout_text_form.html" with import_title="Import Routine from Text" name_label="Routine Name" name_field="routine_name" name_input_id="routine-name" name_value=routine_name name_placeholder="e.g., Upper A" workout_text_placeholder="Paste your routine's exercises here..." format_hint="Format: Exercise Name SetsxReps Weight" confirm_prompt="Create these exercises and import the routine?" cancel_url_name="routines-list" %}
{% endblock %}
