<table class="table table-compact">
    <thead>
        <tr><th>Set</th><th>Weight</th><th>Reps</th><th>Est. 1RM</th></tr>
    </thead>
    <tbody>
        {% for s in sets %}
        <tr{% if s.is_best %} class="progress-best-set"{% endif %}>
            <td>{{ s.set_number }}</td>
            <td>{{ s.weight|floatformat:1 }} kg</td>
            <td>{{ s.reps }}</td>
            <td>{% if s.estimated_1rm %}{{ s.estimated_1rm|floatformat:1 }} kg{% else %}--{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
